@font-face {
    font-family: 'SCP';
    src: url($SourceCodePro);
}

* {
    font-family: SCP;
}

nav.post-controls button.reply .d-icon {
    fill: var(--primary);
}

.ace_content {
    font-size: unset;
}

.ace_editor {
    font: unset;
}
